<form [formGroup]="form" (ngSubmit)="onSubmit()" class="login__form">
    <input-atom label="Nombra la partida" placeholder="Sprint 131" formControlName="lobbyName" [minLength]="5"
        [maxLength]="20" [errorMessage]="lobbyNameError$ | async"
        [attr.aria-describedby]="'lobbyNameError'" errorMessage="error"></input-atom>

    <pg-button class="login__button" textBtn="Crear partida" [isEnabled]="!form.invalid" typeButton="button__secondary"
        type="submit">
    </pg-button>

    <small id="lobbyNameError" *ngIf="lobbyNameError$ | async" class="error-message">
        {{ lobbyNameError$ | async }}
    </small>
</form>