:host
    padding: 35px 80px
    color: white
    display: grid
    grid-template-columns: 1fr 3fr 1fr
    gap: 13px
    height: fit-content

.header
    &__img
        height: 100%
    &__title
        text-align: center
    &__button
        display: flex
        justify-content: center
        align-items: center
