<form [formGroup]="formGroup" class="modal" (ngSubmit)="onSubmit()">
    <input-atom type="text" placeholder="Luisa" label="Tu nombre" formControlName="playerName" [minLength]="5"
        [maxLength]="20">
    </input-atom>

    <span class="login__error" *ngIf="formGroup.get('playerName')?.errors?.['minlength']">
        El mínimo de dígitos son {{ formGroup.get('playerName')?.errors?.['minlength'].requiredLength }}
    </span>

    <span class="login__error" *ngIf="formGroup.get('playerName')?.errors?.['maxlength']">
        El máximo de dígitos son {{ formGroup.get('playerName')?.errors?.['maxlength'].requiredLength }}
    </span>

    <span class="login__error" *ngIf="formGroup.get('playerName')?.errors?.['maxNumbers']">
        No pueden ser más de {{ formGroup.get('playerName')?.errors?.['maxNumbers'].maxNumbers }} números
    </span>

    <span class="login__error" *ngIf="formGroup.get('playerName')?.errors?.['alphaNumeric']">
        No puede contener caracteres especiales
    </span>

    <span class="login__error" *ngIf="formGroup.get('playerName')?.errors?.['onlyNumbers']">
        No pueden ser solo números
    </span>

    <radio-button-atom [radioItems]="radioItems" radioName="TipoJugados" class="modal__radio-buttons" [isEnabled]="true"
        formControlName="typeView">
    </radio-button-atom>

    <button-atom textBtn="Crear partida" [isEnabled]="!formGroup.invalid" typeButton="button__secondary" type="submit">
    </button-atom>
</form>