<h3>Elige una carta 👇</h3>
<div class="deck">
    <app-card-atom value="0" typeCard="card--selectable"></app-card-atom>
    <app-card-atom value="1" typeCard="card--selectable"></app-card-atom>
    <app-card-atom value="3" typeCard="card--selectable"></app-card-atom>
    <app-card-atom value="5" typeCard="card--selectable"></app-card-atom>
    <app-card-atom value="8" typeCard="card--selectable"></app-card-atom>
    <app-card-atom value="13" typeCard="card--selectable"></app-card-atom>
    <app-card-atom value="21" typeCard="card--selectable"></app-card-atom>
    <app-card-atom value="34" typeCard="card--selectable"></app-card-atom>
    <app-card-atom value="55" typeCard="card--selectable"></app-card-atom>
    <app-card-atom value="89" typeCard="card--selectable"></app-card-atom>
    <app-card-atom value="?" typeCard="card--selectable"></app-card-atom>
    <app-card-atom value="☕" typeCard="card--selectable"></app-card-atom>
</div>