
<div class="login__title">
    <img src=".././../../assets/images/ficha-de-poker 1.svg" alt="" srcset="">
    <h1>Crear partida</h1>
</div>
<form [formGroup]="formGroup" (ngSubmit)="onSubmit()" class="login__form">
    <input-atom formControlName="lobbyName" type="text" placeholder="Sprint 131"
        label="Nombre de la partida"></input-atom>
    <button-atom class="login__button" textBtn="Crear partida" [isEnabled]="!formGroup.invalid"
        typeButton="button__secondary" type="submit"> </button-atom>
</form>
